:root{
  --c1: #282828;
  --c2: #141414;
  --c3: #4caf50;
  --c4: #000000;
  --c5: #ffffff;
}
#postlist{
  max-height: 270px;
  overflow-y: scroll;
}
.soln{
  padding: 5% !important;
}
.w3-display-topright{
  padding: 0.8% !important;
}
#code{
  overflow-x: scroll;
  overflow-y: scroll;
  color: var(--c3);
  height: 270px;
}
#cpy-btn, #code-btn, #prob-btn{
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  color: var(--c3)
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--c2); /* background color */
  color: var(--c5); /* text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* TOOLTIP */


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--c4);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--c4);
  color: var(--c5);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--c2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c3);
}
