#code {
    overflow-x: auto;
}

input {
    background-color: inherit;
    border: none;
    color: #fff;
    width: 98%;
}

input:focus {
    outline: none;
}

* {
    font-size: 1.5vw;
}

.container {
    background-color: var(--c4);
}